html {
	font-family: 'Montserrat', sans-serif;
}

.header {
	width: 100%;
	height: 8%;
	text-align: center;
	font-size: 6vh;
	cursor: default;
}

.quadrants {
	font-style: normal;
    background-color: #FFDDD8;
    position: fixed;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 8%;
    cursor: default;
}

.quadrant {
	box-sizing: border-box;
	display: table;

	text-align: center;
	color: black;
    text-decoration: none;
    font-size: 40px;

    position: absolute;

    transition: all ease-in-out .75s, border-width .25s ease-out;
}

.border {
	border: 20px solid;
    border-color: #FFDDD8;
}

.border:hover {
	border: solid 10px;
	border-color: #FFDDD8;
}

.quadlabel {
	display: table-cell;
	vertical-align: middle;	
}

.top { top: 0; }

.bottom { bottom: 0; }

.left { left: 0; }

.right { right: 0; }

.closed {
	width: 50%;
    height: 50%;
}

.open {
	width: 100%;
	height: 100%;
	border: 0px solid #FFDDD8;
}

.slideshow {
	position:absolute;
	top: 10%;
	opacity: 0;
	transition: opacity .5s .5s linear;

	
	height: 90%;
	width: 100%;
}

.main-carousel {
	height:90%;
}

.carousel-cell {
	width: 80%;
	height: 100%;
}

.slide {
	margin-right: 20px;
	height: 100%;
	background-color: #FFDDD8;
}

.slide img {
	position: absolute;
	height: 80%;
	right: 10%;
	top: 50%;
	transform: translate(0%, -50%);
}

.slideText {
	display: inline-block;
	text-align: left;
	width: 50%;
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translate(0%, -50%);
}

.slideText p {
	font-size: 20px;
}


/* Flickity Buttons */
.flickity-button-icon {
	transition: all .25s, opacity .75s;
	fill: black;
}

.flickity-button, .flickity-button:hover {
	background: transparent;
}

.flickity-button:disabled .flickity-button-icon {
	opacity: 0;
}

/* Flickity Page Buttons */
.flickity-page-dots {
	top: 100%;
	height:10%;
	font-size: 46px;
}

.flickity-page-dots .dot {
	transition: .25s;
	background: #FFDDD8;
	height: 15px;
	width: 15px;
	margin: 0px 15px;
	border-radius: 0;

	transform: translate(0, -50%);
}

/*
Palettes: 	http://paletton.com/#uid=7060u0kdtou4WCb91tch-ktm0gD from brick red
			http://paletton.com/#uid=73v0u0kfhXw1T+W9rZHk8TZoxNy from shirt blue
*/
#topleft { background-color: #549066; }
#topleft .flickity-button:hover .flickity-button-icon {
	fill: #549066;
}

#topright { background-color: #87CAF5; }
#topright .flickity-button:hover .flickity-button-icon {
	fill: #87CAF5;
}

#bottomleft { background-color: #C37C71; }
#bottomleft .flickity-button:hover .flickity-button-icon {
	fill: #C37C71;
}

#bottomright { background-color: #FFC985; }
#bottomright .flickity-button:hover .flickity-button-icon {
	fill: #FFC985;
}

#center {
	display: grid;
	position: absolute;
	clear: none;

	border: solid 20px;
	border-color: #FFDDD8;

	width: 10%;
	min-width: 100px;

	left: 50%;
	top: 50%;

	z-index: 101;
	transform: translate(-50%, -50%);
	transition: all ease-in-out .75s, border-width ease-out .25s, width ease-out .25s;
}

#center:hover {
	/*border: solid white 25px;*/
	width: 12%;
	min-width: 120px;
}

.centerimg {
	width: 100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* 
	From Hover.css http://ianlunn.github.io/Hover/
*/
.hvr-sweep-to-right {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #549066;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

#center:hover .hvr-sweep-to-right, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: #FFDDD8;
}

#center:hover .hvr-sweep-to-right:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFC985;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

#center:hover .hvr-sweep-to-left, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
	color: #FFDDD8;
}

#center:hover .hvr-sweep-to-left:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#contactflyin {
	position: absolute;
}

.flyin {
	position: fixed;
	display: table;
	
	width: 100%;
	height: 50%;
	text-align: center;
}

.flyin span {
	display: table-cell;
	vertical-align: middle;
}